#chessrulesbody {
	background-image: url(casino2.jpg);
	background-attachment: fixed;
    height: 100%; 
	width: 80%;
	margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	font-family: Georgia;
}
.topnav a {
    float: left;
    color: #ffcc66;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
	background-color: #AEB6BF;
	position: fixed;
	opacity: 0.80
}

.topnav a:hover {
    background-color: #ABEBC6;
    color: black;
}

.topnav a.active {
    background-color: #DEB887;
    color: black;
}

p {
	font-weight: bold;
	color: #0E1058;
	font-size: 16px;
	list-style-type: square;
	overflow: hidden;
}
#headerImage {
	text-align: center;
	opacity: 0.5;
}
h1 {
	font-size: 35px;
	font-weight: bold;
	color: #4B0082;
}